body {
  background-color: #fccde3;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.mainContainer {
  background: linear-gradient(to right, #7a5893, #e8a3d1, #ae7eb2);
  height: 400px;
}
